######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
node_modules/

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.m2/

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.out
*.err
*.pid
*.pid.lock
*.xml.versionsBackup
*.swp
.runtime-logs/
logs/

######################################################################
# Backend common generated / packaged files
*.jar
*.war
*.ear

######################################################################
# SQL files
*.sql
sql/

######################################################################
# Compressed archives
*.zip
*.tar
*.tar.gz
*.tgz
*.gz
*.7z
*.rar

!*/build/*.java
!*/build/*.html
!*/build/*.xml

######################################################################
# Local-only files
.m2/
.mvn-local-settings.xml
.vscode/
logs/
.runtime-logs/
apache-maven-*.zip
sql/*.zip
temp-logback*.xml
result_*.md
ruoyi-admin/src/main/resources/application-druid.yml.backup

# Node modules
node_modules/