<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.dept_approvedMapper">
    
    <resultMap type="dept_approved" id="dept_approvedResult">
        <result property="id"    column="id"    />
        <result property="year"    column="year"    />
        <result property="category"    column="category"    />
        <result property="workName"    column="work_name"    />
        <result property="levelType"    column="level_type"    />
        <result property="awardLevel"    column="award_level"    />
        <result property="track"    column="track"    />
        <result property="certNo"    column="cert_no"    />
        <result property="groupType"    column="group_type"    />
        <result property="contestId"    column="contest_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="awardTime"    column="award_time"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="entryFee"    column="entry_fee"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="deptAuditUser"    column="dept_audit_user"    />
        <result property="deptAuditTime"    column="dept_audit_time"    />
        <result property="deptAuditReason"    column="dept_audit_reason"    />
        <result property="schoolAuditUser"    column="school_audit_user"    />
        <result property="schoolAuditTime"    column="school_audit_time"    />
        <result property="schoolAuditReason"    column="school_audit_reason"    />
        <result property="isReimburse"    column="is_reimburse"    />
        <result property="reimburseFee"    column="reimburse_fee"    />
        <result property="reimburseRatio"    column="reimburse_ratio"    />
        <result property="reimburseProjectId"    column="reimburse_project_id"    />
        <result property="reimbursePayTime"    column="reimburse_pay_time"    />
        <result property="reimburseAuditStatus"    column="reimburse_audit_status"    />
        <result property="reimburseAuditTime"    column="reimburse_audit_time"    />
        <result property="reimburseAuditUserId"    column="reimburse_audit_user_id"    />
        <result property="reimburseAuditReason"    column="reimburse_audit_reason"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap id="dept_approvedErpContestantResult" type="dept_approved" extends="dept_approvedResult">
        <collection property="erpContestantList" ofType="ErpContestant" column="id" select="selectErpContestantList" />
    </resultMap>

    <resultMap type="ErpContestant" id="ErpContestantResult">
        <result property="id"    column="id"    />
        <result property="outcomeId"    column="outcome_id"    />
        <result property="studentCode"    column="student_code"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="isLeader"    column="is_leader"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectdept_approvedVo">
        select id, year, category, work_name, level_type, award_level, track, cert_no, group_type, contest_id, dept_id, award_time, submit_time, entry_fee, audit_status, dept_audit_user, dept_audit_time, dept_audit_reason, school_audit_user, school_audit_time, school_audit_reason, is_reimburse, reimburse_fee, reimburse_ratio, reimburse_project_id, reimburse_pay_time, reimburse_audit_status, reimburse_audit_time, reimburse_audit_user_id, reimburse_audit_reason, del_flag, create_by, create_time, update_by, update_time, remark from erp_outcome
    </sql>

    <select id="selectdept_approvedList" parameterType="dept_approved" resultMap="dept_approvedResult">
        <include refid="selectdept_approvedVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="year != null "> and year = #{year}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="levelType != null  and levelType != ''"> and level_type = #{levelType}</if>
            <if test="awardLevel != null  and awardLevel != ''"> and award_level = #{awardLevel}</if>
            <if test="track != null  and track != ''"> and track like concat('%', #{track}, '%')</if>
            <if test="certNo != null  and certNo != ''"> and cert_no = #{certNo}</if>
            <if test="groupType != null  and groupType != ''"> and group_type = #{groupType}</if>
            <if test="deptId != null "> and dept_id like concat('%', #{deptId}, '%')</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
            <!-- 只查询院级审核通过和院级驳回的成果 -->
            <if test="auditStatus != null">
                and audit_status in (2, 1)
            </if>
        </where>
    </select>

    <select id="selectByAuditStatuses" resultMap="dept_approvedResult">
        <include refid="selectdept_approvedVo"/>
        <where>
            audit_status in
            <foreach item="status" collection="auditStatus" open="(" separator="," close=")">
                #{status}
            </foreach>
            and school_audit_time is null
        </where>
    </select>

    <select id="selectdept_approvedById" parameterType="Long" resultMap="dept_approvedErpContestantResult">
        select id, year, category, work_name, level_type, award_level, track, cert_no, group_type, contest_id, dept_id, award_time, submit_time, entry_fee, audit_status, dept_audit_user, dept_audit_time, dept_audit_reason, school_audit_user, school_audit_time, school_audit_reason, is_reimburse, reimburse_fee, reimburse_ratio, reimburse_project_id, reimburse_pay_time, reimburse_audit_status, reimburse_audit_time, reimburse_audit_user_id, reimburse_audit_reason, del_flag, create_by, create_time, update_by, update_time, remark
        from erp_outcome
        where id = #{id}
    </select>

    <insert id="insertdept_approved" parameterType="dept_approved" useGeneratedKeys="true" keyProperty="id">
        insert into erp_outcome
        <trim prefix="(" suffix=")" suffixOverrides=",">
            year,
            <if test="category != null and category != ''">category,</if>
            <if test="workName != null and workName != ''">work_name,</if>
            <if test="levelType != null and levelType != ''">level_type,</if>
            <if test="awardLevel != null and awardLevel != ''">award_level,</if>
            <if test="track != null">track,</if>
            <if test="certNo != null and certNo != ''">cert_no,</if>
            <if test="groupType != null and groupType != ''">group_type,</if>
            <if test="contestId != null">contest_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="awardTime != null">award_time,</if>

            <!-- submit_time 永远插入 -->
            submit_time,

            <if test="entryFee != null">entry_fee,</if>

            <if test="auditStatus != null">audit_status,</if>
            <if test="deptAuditUser != null">dept_audit_user,</if>
            <if test="deptAuditTime != null">dept_audit_time,</if>
            <if test="deptAuditReason != null">dept_audit_reason,</if>
            <if test="schoolAuditUser != null">school_audit_user,</if>
            <if test="schoolAuditTime != null">school_audit_time,</if>
            <if test="schoolAuditReason != null">school_audit_reason,</if>
            <if test="isReimburse != null">is_reimburse,</if>
            <if test="reimburseFee != null">reimburse_fee,</if>
            <if test="reimburseRatio != null">reimburse_ratio,</if>
            <if test="reimburseProjectId != null">reimburse_project_id,</if>
            <if test="reimbursePayTime != null">reimburse_pay_time,</if>
            <if test="reimburseAuditStatus != null">reimburse_audit_status,</if>
            <if test="reimburseAuditTime != null">reimburse_audit_time,</if>
            <if test="reimburseAuditUserId != null">reimburse_audit_user_id,</if>
            <if test="reimburseAuditReason != null">reimburse_audit_reason,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            IFNULL(#{year}, DATE_FORMAT(NOW(), '%Y')),
            <if test="category != null and category != ''">#{category},</if>
            <if test="workName != null and workName != ''">#{workName},</if>
            <if test="levelType != null and levelType != ''">#{levelType},</if>
            <if test="awardLevel != null and awardLevel != ''">#{awardLevel},</if>
            <if test="track != null">#{track},</if>
            <if test="certNo != null and certNo != ''">#{certNo},</if>
            <if test="groupType != null and groupType != ''">#{groupType},</if>
            <if test="contestId != null">#{contestId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="awardTime != null">#{awardTime},</if>
            NOW(),

            <if test="entryFee != null">#{entryFee},</if>

            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="deptAuditUser != null">#{deptAuditUser},</if>
            <if test="deptAuditTime != null">#{deptAuditTime},</if>
            <if test="deptAuditReason != null">#{deptAuditReason},</if>
            <if test="schoolAuditUser != null">#{schoolAuditUser},</if>
            <if test="schoolAuditTime != null">#{schoolAuditTime},</if>
            <if test="schoolAuditReason != null">#{schoolAuditReason},</if>
            <if test="isReimburse != null">#{isReimburse},</if>
            <if test="reimburseFee != null">#{reimburseFee},</if>
            <if test="reimburseRatio != null">#{reimburseRatio},</if>
            <if test="reimburseProjectId != null">#{reimburseProjectId},</if>
            <if test="reimbursePayTime != null">#{reimbursePayTime},</if>
            <if test="reimburseAuditStatus != null">#{reimburseAuditStatus},</if>
            <if test="reimburseAuditTime != null">#{reimburseAuditTime},</if>
            <if test="reimburseAuditUserId != null">#{reimburseAuditUserId},</if>
            <if test="reimburseAuditReason != null">#{reimburseAuditReason},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>


    <update id="updatedept_approved" parameterType="dept_approved">
        update erp_outcome
        <trim prefix="SET" suffixOverrides=",">
            <if test="year != null">year = #{year},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="workName != null and workName != ''">work_name = #{workName},</if>
            <if test="levelType != null and levelType != ''">level_type = #{levelType},</if>
            <if test="awardLevel != null and awardLevel != ''">award_level = #{awardLevel},</if>
            <if test="track != null">track = #{track},</if>
            <if test="certNo != null and certNo != ''">cert_no = #{certNo},</if>
            <if test="groupType != null and groupType != ''">group_type = #{groupType},</if>
            <if test="contestId != null">contest_id = #{contestId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="awardTime != null">award_time = #{awardTime},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="entryFee != null">entry_fee = #{entryFee},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="deptAuditUser != null">dept_audit_user = #{deptAuditUser},</if>
            <if test="deptAuditTime != null">dept_audit_time = #{deptAuditTime},</if>
            <if test="deptAuditReason != null">dept_audit_reason = #{deptAuditReason},</if>
            <if test="schoolAuditUser != null">school_audit_user = #{schoolAuditUser},</if>
            <if test="schoolAuditTime != null">school_audit_time = #{schoolAuditTime},</if>
            <if test="schoolAuditReason != null">school_audit_reason = #{schoolAuditReason},</if>
            <if test="isReimburse != null">is_reimburse = #{isReimburse},</if>
            <if test="reimburseFee != null">reimburse_fee = #{reimburseFee},</if>
            <if test="reimburseRatio != null">reimburse_ratio = #{reimburseRatio},</if>
            <if test="reimburseProjectId != null">reimburse_project_id = #{reimburseProjectId},</if>
            <if test="reimbursePayTime != null">reimburse_pay_time = #{reimbursePayTime},</if>
            <if test="reimburseAuditStatus != null">reimburse_audit_status = #{reimburseAuditStatus},</if>
            <if test="reimburseAuditTime != null">reimburse_audit_time = #{reimburseAuditTime},</if>
            <if test="reimburseAuditUserId != null">reimburse_audit_user_id = #{reimburseAuditUserId},</if>
            <if test="reimburseAuditReason != null">reimburse_audit_reason = #{reimburseAuditReason},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletedept_approvedById" parameterType="Long">
        delete from erp_outcome where id = #{id}
    </delete>

    <delete id="deletedept_approvedByIds" parameterType="String">
        delete from erp_outcome where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteErpContestantByOutcomeIds" parameterType="String">
        delete from erp_contestant where outcome_id in 
        <foreach item="outcomeId" collection="array" open="(" separator="," close=")">
            #{outcomeId}
        </foreach>
    </delete>

    <delete id="deleteErpContestantByOutcomeId" parameterType="Long">
        delete from erp_contestant where outcome_id = #{outcomeId}
    </delete>

    <insert id="batchErpContestant">
        insert into erp_contestant( id, outcome_id, student_code, sort_order, is_leader, create_by, create_time, update_by, update_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.outcomeId}, #{item.studentCode}, #{item.sortOrder}, #{item.isLeader}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime})
        </foreach>
    </insert>
    <update id="wait" parameterType="dept_approved">
        update erp_outcome
        set audit_status = #{auditStatus},
            dept_audit_reason = #{deptAuditReason},
            dept_audit_time = NOW(),
            dept_audit_user = #{deptAuditUser}
        where id = #{id}
    </update>

</mapper>
