<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.ErpAttachmentMapper">

    <resultMap type="ErpAttachment" id="ErpAttachmentResult">
        <result property="id"    column="id"    />
        <result property="outcomeId"    column="outcome_id"    />
        <result property="attachType"    column="attach_type"    />
        <result property="fileUuid"    column="file_uuid"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileExt"    column="file_ext"    />
        <result property="fileSize"    column="file_size"    />
        <result property="isRequired"    column="is_required"    />
        <result property="isReimburseReq"    column="is_reimburse_req"    />
        <result property="uploadUserId"    column="upload_user_id"    />
        <result property="uploadTime"    column="upload_time"    />
    </resultMap>

    <select id="selectByOutcomeId" resultMap="ErpAttachmentResult">
        select * from erp_attachment where outcome_id = #{outcomeId}
    </select>

    <insert id="insertErpAttachment">
        insert into erp_attachment(
            outcome_id, attach_type, file_uuid, file_path, file_name,
            file_ext, file_size, is_required, is_reimburse_req,
            upload_user_id, upload_time, create_time
        )
        values (
                   #{outcomeId}, #{attachType}, #{fileUuid}, #{filePath}, #{fileName},
                   #{fileExt}, #{fileSize}, #{isRequired}, #{isReimburseReq},
                   #{uploadUserId}, #{uploadTime}, sysdate()
               )
    </insert>

    <delete id="deleteByOutcomeId">
        delete from erp_attachment where outcome_id = #{outcomeId}
    </delete>
</mapper>