<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.achievement.mapper.SamAchievementMapper">
    
    <resultMap type="SamAchievement" id="SamAchievementResult">
        <result property="achievementId"    column="achievement_id"    />
        <result property="sessionId"    column="session_id"    />
        <result property="competitionId"    column="competition_id"    />
        <result property="category"    column="category"    />
        <result property="name"    column="name"    />
        <result property="teamName"    column="team_name"    />
        <result property="level"    column="level"    />
        <result property="grade"    column="grade"    />
        <result property="track"    column="track"    />
        <result property="certificateNo"    column="certificate_no"    />
        <result property="groupId"    column="group_id"    />
        <result property="awardTime"    column="award_time"    />
        <result property="year"    column="year"    />
        <result property="ownerDepId"    column="owner_dep_id"    />
        <result property="isReimburse"    column="is_reimburse"    />
        <result property="isSupplement"    column="is_supplement"    />
        <result property="fee"    column="fee"    />
        <result property="reimbursementFee"    column="reimbursement_fee"    />
        <result property="reimbursementRatio"    column="reimbursement_ratio"    />
        <result property="reimbursementItemId"    column="reimbursement_item_id"    />
        <result property="reimbursementDate"    column="reimbursement_date"    />
        <result property="itemIndex"    column="item_index"    />
        <result property="qualityIndex"    column="quality_index"    />
        <result property="submittedAt"    column="submitted_at"    />
        <result property="reviewedAt"    column="reviewed_at"    />
        <result property="schoolReviewedAt"    column="school_reviewed_at"    />
        <result property="reviewResult"    column="review_result"    />
        <result property="schooiReviewResult"    column="schooi_review_result"    />
        <result property="reviewReason"    column="review_reason"    />
        <result property="schoolReviewReason"    column="school_review_reason"    />
        <result property="auditBy"    column="audit_by"    />
        <result property="schoolAuditBy"    column="school_audit_by"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    <resultMap id="SamAchievementSamAchievementParticipantResult" type="SamAchievement" extends="SamAchievementResult">
        <collection property="samAchievementParticipantList" ofType="SamAchievementParticipant" column="achievement_id" select="selectSamAchievementParticipantList" />
        <collection property="samAchievementAdvisorList" ofType="SamAchievementAdvisor" column="achievement_id" select="selectSamAchievementAdvisorList" />
        <collection property="samAchievementAttachmentList" ofType="java.util.Map" column="achievement_id" select="selectSamAchievementAttachmentList" />
    </resultMap>
    <resultMap type="SamAchievementAdvisor" id="SamAchievementAdvisorResult">
        <result property="advisorId"    column="advisor_id"    />
        <result property="achievementId"    column="achievement_id"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="teacherName"    column="teacher_name"    />
        <result property="orderNo"    column="order_no"    />
        <result property="manager"    column="manager"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <resultMap type="SamAchievementParticipant" id="SamAchievementParticipantResult">
        <result property="participantId"    column="participant_id"    />
        <result property="achievementId"    column="achievement_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="manager"    column="manager"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="java.util.Map" id="SamAchievementAttachmentResult">
        <result property="attachmentId" column="attachment_id" />
        <result property="achievementId" column="achievement_id" />
        <result property="type" column="type" />
        <result property="fileType" column="file_type" />
        <result property="fileUuid" column="file_uuid" />
    </resultMap>

    <sql id="selectSamAchievementVo">
        select achievement_id, session_id, category, name, team_name, level, grade, track, certificate_no, group_id, award_time, year, owner_dep_id, is_reimburse, is_supplement, fee, reimbursement_fee, reimbursement_ratio, reimbursement_item_id, reimbursement_date, item_index, quality_index, submitted_at, reviewed_at, school_reviewed_at, review_result, schooi_review_result, review_reason, school_review_reason, audit_by, school_audit_by, create_by, update_by, create_time, update_time, del_flag, remark from sam_achievement
    </sql>

    <select id="selectSamAchievementList" parameterType="SamAchievement" resultMap="SamAchievementResult">
        <include refid="selectSamAchievementVo"/>
        <where>  
            <if test="achievementId != null  and achievementId != ''"> and achievement_id = #{achievementId}</if>
            <if test="sessionId != null  and sessionId != ''"> and session_id = #{sessionId}</if>
            <if test="category != null  and category != ''"> and category like concat('%', #{category}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="teamName != null  and teamName != ''"> and team_name like concat('%', #{teamName}, '%')</if>
            <if test="level != null  and level != ''"> and level = #{level}</if>
            <if test="grade != null "> and grade = #{grade}</if>
            <if test="track != null  and track != ''"> and track like concat('%', #{track}, '%')</if>
            <if test="certificateNo != null  and certificateNo != ''"> and certificate_no = #{certificateNo}</if>
            <if test="groupId != null "> and group_id = #{groupId}</if>
            <if test="awardTime != null "> and award_time = #{awardTime}</if>
        </where>
    </select>

    <select id="selectSamAchievementByAchievementId" parameterType="String" resultMap="SamAchievementSamAchievementParticipantResult">
        select
            a.achievement_id,
            a.session_id,
            s.competition_id,  a.category,
            a.name,
            a.team_name,
            a.level,
            a.grade,
            a.track,
            a.certificate_no,
            a.group_id,
            a.award_time,
            a.year,
            a.owner_dep_id,
            a.is_reimburse,
            a.is_supplement,
            a.fee,
            a.reimbursement_fee,
            a.reimbursement_ratio,
            a.reimbursement_item_id,
            a.reimbursement_date,
            a.item_index,
            a.quality_index,
            a.submitted_at,
            a.reviewed_at,
            a.school_reviewed_at,
            a.review_result,
            a.schooi_review_result,
            a.review_reason,
            a.school_review_reason,
            a.audit_by,
            a.school_audit_by,
            a.create_by,
            a.update_by,
            a.create_time,
            a.update_time,
            a.del_flag,
            a.remark
        from sam_achievement a
                 left join sam_competition_session s on a.session_id = s.session_id
        where a.achievement_id = #{achievementId}
    </select>

    <select id="selectSamAchievementParticipantList" resultMap="SamAchievementParticipantResult">
        select participant_id, achievement_id, student_id, order_no, manager, create_by, update_by, create_time, update_time, del_flag, remark
        from sam_achievement_participant
        where participant_id = #{participant_id}
    </select>

    <insert id="insertSamAchievement" parameterType="SamAchievement" useGeneratedKeys="true" keyProperty="achievementId">
        insert into sam_achievement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sessionId != null and sessionId != ''">session_id,</if>
            <if test="category != null and category != ''">category,</if>
            <if test="name != null">name,</if>
            <if test="teamName != null">team_name,</if>
            <if test="level != null and level != ''">level,</if>
            <if test="grade != null">grade,</if>
            <if test="track != null">track,</if>
            <if test="certificateNo != null and certificateNo != ''">certificate_no,</if>
            <if test="groupId != null">group_id,</if>
            <if test="awardTime != null">award_time,</if>
            <if test="year != null">year,</if>
            <if test="ownerDepId != null">owner_dep_id,</if>
            <if test="isReimburse != null">is_reimburse,</if>
            <if test="isSupplement != null">is_supplement,</if>
            <if test="fee != null">fee,</if>
            <if test="reimbursementFee != null">reimbursement_fee,</if>
            <if test="reimbursementRatio != null">reimbursement_ratio,</if>
            <if test="reimbursementItemId != null">reimbursement_item_id,</if>
            <if test="reimbursementDate != null">reimbursement_date,</if>
            <if test="itemIndex != null">item_index,</if>
            <if test="qualityIndex != null">quality_index,</if>
            <if test="submittedAt != null">submitted_at,</if>
            <if test="reviewedAt != null">reviewed_at,</if>
            <if test="schoolReviewedAt != null">school_reviewed_at,</if>
            <if test="reviewResult != null">review_result,</if>
            <if test="schooiReviewResult != null">schooi_review_result,</if>
            <if test="reviewReason != null">review_reason,</if>
            <if test="schoolReviewReason != null">school_review_reason,</if>
            <if test="auditBy != null">audit_by,</if>
            <if test="schoolAuditBy != null">school_audit_by,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sessionId != null and sessionId != ''">#{sessionId},</if>
            <if test="category != null and category != ''">#{category},</if>
            <if test="name != null">#{name},</if>
            <if test="teamName != null">#{teamName},</if>
            <if test="level != null and level != ''">#{level},</if>
            <if test="grade != null">#{grade},</if>
            <if test="track != null">#{track},</if>
            <if test="certificateNo != null and certificateNo != ''">#{certificateNo},</if>
            <if test="groupId != null">#{groupId},</if>
            <if test="awardTime != null">#{awardTime},</if>
            <if test="year != null">#{year},</if>
            <if test="ownerDepId != null">#{ownerDepId},</if>
            <if test="isReimburse != null">#{isReimburse},</if>
            <if test="isSupplement != null">#{isSupplement},</if>
            <if test="fee != null">#{fee},</if>
            <if test="reimbursementFee != null">#{reimbursementFee},</if>
            <if test="reimbursementRatio != null">#{reimbursementRatio},</if>
            <if test="reimbursementItemId != null">#{reimbursementItemId},</if>
            <if test="reimbursementDate != null">#{reimbursementDate},</if>
            <if test="itemIndex != null">#{itemIndex},</if>
            <if test="qualityIndex != null">#{qualityIndex},</if>
            <if test="submittedAt != null">#{submittedAt},</if>
            <if test="reviewedAt != null">#{reviewedAt},</if>
            <if test="schoolReviewedAt != null">#{schoolReviewedAt},</if>
            <if test="reviewResult != null">#{reviewResult},</if>
            <if test="schooiReviewResult != null">#{schooiReviewResult},</if>
            <if test="reviewReason != null">#{reviewReason},</if>
            <if test="schoolReviewReason != null">#{schoolReviewReason},</if>
            <if test="auditBy != null">#{auditBy},</if>
            <if test="schoolAuditBy != null">#{schoolAuditBy},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSamAchievement" parameterType="SamAchievement">
        update sam_achievement
        <trim prefix="SET" suffixOverrides=",">
            <if test="sessionId != null and sessionId != ''">session_id = #{sessionId},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="name != null">name = #{name},</if>
            <if test="teamName != null">team_name = #{teamName},</if>
            <if test="level != null and level != ''">level = #{level},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="track != null">track = #{track},</if>
            <if test="certificateNo != null and certificateNo != ''">certificate_no = #{certificateNo},</if>
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="awardTime != null">award_time = #{awardTime},</if>
            <if test="year != null">year = #{year},</if>
            <if test="ownerDepId != null">owner_dep_id = #{ownerDepId},</if>
            <if test="isReimburse != null">is_reimburse = #{isReimburse},</if>
            <if test="isSupplement != null">is_supplement = #{isSupplement},</if>
            <if test="fee != null">fee = #{fee},</if>
            <if test="reimbursementFee != null">reimbursement_fee = #{reimbursementFee},</if>
            <if test="reimbursementRatio != null">reimbursement_ratio = #{reimbursementRatio},</if>
            <if test="reimbursementItemId != null">reimbursement_item_id = #{reimbursementItemId},</if>
            <if test="reimbursementDate != null">reimbursement_date = #{reimbursementDate},</if>
            <if test="itemIndex != null">item_index = #{itemIndex},</if>
            <if test="qualityIndex != null">quality_index = #{qualityIndex},</if>
            <if test="submittedAt != null">submitted_at = #{submittedAt},</if>
            <if test="reviewedAt != null">reviewed_at = #{reviewedAt},</if>
            <if test="schoolReviewedAt != null">school_reviewed_at = #{schoolReviewedAt},</if>
            <if test="reviewResult != null">review_result = #{reviewResult},</if>
            <if test="schooiReviewResult != null">schooi_review_result = #{schooiReviewResult},</if>
            <if test="reviewReason != null">review_reason = #{reviewReason},</if>
            <if test="schoolReviewReason != null">school_review_reason = #{schoolReviewReason},</if>
            <if test="auditBy != null">audit_by = #{auditBy},</if>
            <if test="schoolAuditBy != null">school_audit_by = #{schoolAuditBy},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where achievement_id = #{achievementId}
    </update>

    <delete id="deleteSamAchievementByAchievementId" parameterType="String">
        delete from sam_achievement where achievement_id = #{achievementId}
    </delete>

    <delete id="deleteSamAchievementByAchievementIds" parameterType="String">
        delete from sam_achievement where achievement_id in 
        <foreach item="achievementId" collection="array" open="(" separator="," close=")">
            #{achievementId}
        </foreach>
    </delete>
    
    <delete id="deleteSamAchievementParticipantByParticipantIds" parameterType="String">
        delete from sam_achievement_participant where participant_id in 
        <foreach item="participantId" collection="array" open="(" separator="," close=")">
            #{participantId}
        </foreach>
    </delete>

    <delete id="deleteSamAchievementParticipantByParticipantId" parameterType="String">
        delete from sam_achievement_participant where participant_id = #{participantId}
    </delete>

    <insert id="batchSamAchievementParticipant">
        insert into sam_achievement_participant( participant_id, achievement_id, student_id, order_no, manager, create_by, update_by, create_time, update_time, del_flag, remark) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.participantId}, #{item.achievementId}, #{item.studentId}, #{item.orderNo}, #{item.manager}, #{item.createBy}, #{item.updateBy}, #{item.createTime}, #{item.updateTime}, #{item.delFlag}, #{item.remark})
        </foreach>
    </insert>

    <select id="selectSamAchievementListByStudentId" parameterType="SamAchievement" resultMap="SamAchievementResult">
        select a.achievement_id, a.name, a.level, a.grade, a.award_time,
        p.student_id, p.manager
        from sam_achievement a
        left join sam_achievement_participant p on a.achievement_id = p.achievement_id
        where a.del_flag = '0'
        AND p.student_id = #{params.studentId}
        <if test="name != null and name != ''"> AND a.name like concat('%', #{name}, '%')</if>
        <if test="level != null and level != ''"> AND a.level = #{level}</if>
        order by a.create_time desc
    </select>

    <select id="selectSamAchievementListByTeacherId" parameterType="SamAchievement" resultMap="SamAchievementResult">
        select a.achievement_id, a.name, a.level, a.grade, a.award_time,
        t.teacher_id, t.manager
        from sam_achievement a
        left join sam_achievement_advisor t on a.achievement_id = t.achievement_id
        where a.del_flag = '0'
        AND t.teacher_id = #{params.teacherId}
        <if test="name != null and name != ''"> AND a.name like concat('%', #{name}, '%')</if>
        <if test="level != null and level != ''"> AND a.level = #{level}</if>
        order by a.create_time desc
    </select>
    <select id="selectSamAchievementAdvisorList" resultMap="SamAchievementAdvisorResult">
        select a.advisor_id, a.achievement_id, a.teacher_id, a.order_no, a.manager,
               t.teacher_name as teacher_name  from sam_achievement_advisor a
                                                        left join sam_teacher t on a.teacher_id = t.no
        where a.achievement_id = #{achievement_id}
        order by a.order_no asc
    </select>

    <insert id="batchSamAchievementAdvisor">
        insert into sam_achievement_advisor( advisor_id, achievement_id, teacher_id, order_no, manager, create_by, update_by, create_time, update_time, del_flag) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.advisorId}, #{item.achievementId}, #{item.teacherId}, #{item.orderNo}, #{item.manager}, #{item.createBy}, #{item.updateBy}, #{item.createTime}, #{item.updateTime}, #{item.delFlag})
        </foreach>
    </insert>

    <delete id="deleteSamAchievementAdvisorByAchievementId" parameterType="String">
        delete from sam_achievement_advisor where achievement_id = #{achievementId}
    </delete>

    <delete id="deleteSamAchievementAdvisorByAchievementIds" parameterType="String">
        delete from sam_achievement_advisor where achievement_id in
        <foreach item="achievementId" collection="array" open="(" separator="," close=")">
            #{achievementId}
        </foreach>
    </delete>

    <select id="selectSamAchievementAttachmentList" resultMap="SamAchievementAttachmentResult">
        select attachment_id, achievement_id, type, file_type, file_uuid
        from sam_achievement_attachment
        where achievement_id = #{achievement_id}
    </select>

    <insert id="batchSamAchievementAttachment">
        insert into sam_achievement_attachment( achievement_id, type, file_type, file_uuid, create_time, update_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.achievementId}, #{item.type}, #{item.fileType}, #{item.fileUuid}, sysdate(), sysdate())
        </foreach>
    </insert>

    <delete id="deleteSamAchievementAttachmentByAchievementId" parameterType="String">
        delete from sam_achievement_attachment where achievement_id = #{achievementId}
    </delete>

    <delete id="deleteSamAchievementAttachmentByAchievementIds" parameterType="String">
        delete from sam_achievement_attachment where achievement_id in
        <foreach item="achievementId" collection="array" open="(" separator="," close=")">
            #{achievementId}
        </foreach>
    </delete>
</mapper>