<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.reimbursement.mapper.SamQualityDevelopmentFormMapper">
    
    <resultMap type="SamQualityDevelopmentForm" id="SamQualityDevelopmentFormResult">
        <result property="id"    column="id"    />
        <result property="year"    column="year"    />
        <result property="amount"    column="amount"    />
        <result property="ownerDepId"    column="owner_dep_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectSamQualityDevelopmentFormVo">
        select id, year, amount, owner_dep_id, create_time from sam_quality_development_form
    </sql>

    <select id="selectSamQualityDevelopmentFormList" parameterType="SamQualityDevelopmentForm" resultMap="SamQualityDevelopmentFormResult">
        <include refid="selectSamQualityDevelopmentFormVo"/>
        <where>  
            <if test="year != null "> and year = #{year}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="ownerDepId != null "> and owner_dep_id = #{ownerDepId}</if>
        </where>
    </select>
    
    <select id="selectSamQualityDevelopmentFormById" parameterType="Long" resultMap="SamQualityDevelopmentFormResult">
        <include refid="selectSamQualityDevelopmentFormVo"/>
        where id = #{id}
    </select>

    <insert id="insertSamQualityDevelopmentForm" parameterType="SamQualityDevelopmentForm" useGeneratedKeys="true" keyProperty="id">
        insert into sam_quality_development_form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="year != null">year,</if>
            <if test="amount != null">amount,</if>
            <if test="ownerDepId != null">owner_dep_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="year != null">#{year},</if>
            <if test="amount != null">#{amount},</if>
            <if test="ownerDepId != null">#{ownerDepId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSamQualityDevelopmentForm" parameterType="SamQualityDevelopmentForm">
        update sam_quality_development_form
        <trim prefix="SET" suffixOverrides=",">
            <if test="year != null">year = #{year},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="ownerDepId != null">owner_dep_id = #{ownerDepId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSamQualityDevelopmentFormById" parameterType="Long">
        delete from sam_quality_development_form where id = #{id}
    </delete>

    <delete id="deleteSamQualityDevelopmentFormByIds" parameterType="String">
        delete from sam_quality_development_form where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>